{% extends 'base.html' %}
{% load static %}
{% load math_tags %}
{% block title %}<title>Station Nexus - {{view_station}}</title>{% endblock title %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="alert alert-primary" role="alert">
    <div class="row">
        <div class="col">
            Station {{view_station}} ({{view_station_name}})
        </div>
        <div id="updateTime" class="col text-end">
            Last updated:
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xxl-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card mb-1 shadow">
                            <div class="card-body">
                                <h5 class="card-title text-primary">Active Units</h5>
                                <div class="container">
                                    <table id="active_units" class="table table-striped compact" style="width:100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-1 shadow">
                            <div class="card-body">
                                <h5 class="card-title text-primary">Out Of Service Units</h5>
                                <div class="container">
                                    <table id="oos_units" class="table table-striped compact" style="width:100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title text-primary">Personnel</h5>
                                <div class="container">
                                    <table id="personnel" class="table table-striped compact" style="width:100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 d-none d-xxl-block">
            <div id="broadcastMessage" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for msg in messages %}
                    {% if forloop.first %}
                    <div class="carousel-item active" data-bs-interval={{ msg.display_time|mult:1000 }}>
                        {%else%}
                        <div class="carousel-item" data-bs-interval={{ msg.display_time|mult:1000 }}>
                            {% endif %}
                            <img src={{msg.image_sized.url}} class="d-block w-100 border border-primary border-3"
                                alt="...">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src='{% static "kiosk/js/kiosk.js" %}'></script>
<script src='{% static "kiosk/js/moment-with-locales.js" %}'></script>
<script>

    $(document).ready(function () {
        console.log({{ active_units | safe}});
    updateActiveTable({{ active_units | safe}})
    updateOosTable({{ oos_units | safe }})
    updatePersonnelTable({{ personnel | safe }})


    var t = moment().format('HH:MM:ss');
    $("#updateTime").text("Last Update: " + t);

    });


    const dataSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/kiosk/' + {{ view_station }}+'/'
        );

    dataSocket.onmessage = function (e) {

        console.log("msg recieved")
        const data = JSON.parse(e.data);

        updateActiveTable(JSON.parse(data.message.active_units))
        updateOosTable(JSON.parse(data.message.oos_units))
        updatePersonnelTable(JSON.parse(data.message.personnel))

        var t = moment().format('HH:MM:ss');
        $("#updateTime").text("Last Update: " + t);

    };

    dataSocket.onclose = function (e) {
        console.error('Socket closed unexpectedly');
    };
</script>

{% endblock scripts %}